////////////// COLORS ///////////////
$teal: #1287B2; // OG - original green-blue
$red: #FF194D;
$brightBlue: #00BBFF;
$lightOlive: #CCC114;
$olive: #B2A809;
$offWhite: #F8F8F8;
$logoBlue: #67CAEF;

////////////// FONTS ///////////////
$pacifico: Pacifico, cursive;
$sansSerif: 'Montserrat', sans-serif;

$semiBold: 600;
$bold: 700;
$black: 800;


blockquote {
  font-family: $pacifico;
  color: $teal;
  font-size: 36px;
  line-height: 54px;
  border: none;
}
