div[role=form] {
	span.checkbox {
		display: flex;
		flex-direction: column;
	}
}

span.form-check-input {
	display: flex;
	flex-direction: column;
	
	label {
		display: flex;
		align-items: center;
		
		input[type="checkbox"] {
			margin: 0 4px 0 0;
			font-size: 2em;
		}
		input[type="radio"] {
			width: 24px;
			margin-right: 5px;
			font-size: 2em;
		}
	}
}

.btn {
	font-size: 20px;
}
