.scroll_target_class .scroll_text_class {
  bottom: 0;

}
.scroll_target_class .scroll_text_class blockquote {
  border: none;
  margin-bottom: 0;
  background-color: rgba(120, 120, 120, .5);
}

.scroll_target_class .scroll_text_class blockquote p {
  color: white;
  font-size: 24px;
  line-height: 30px;
}